.programs-info-container {
  height: 104vh;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.programs-info-container h1 {
  font-size: 2.7rem;
  position: absolute;
  top: 10%;
  text-align: center;
}

.info-panel {
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.program-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.program-paragraph {
  transform: translateY(1.5rem);
  font-size: .92rem;
  max-width: 20vw;
  line-height: 2rem;
}

.program-icon {
  height: 8rem;
}

@media screen and (max-width: 450px) {
  .program-icon {
    height: 4rem;
  }

  .info-panel {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .program-paragraph {
    max-width: 90vw;
  }

  .programs-info-container {
    height: 185vh;
    justify-content: space-evenly;
  }

  .programs-info-container h1 {
    position: static;
  }
}
